<!-- ==========================================
                SOLEAI LOADER
========================================== -->

<div class="loader-wrapper">

    <!-- Logo -->

    <div class="loader-logo">

        <h1>
            Sole<span>AI</span>
        </h1>

    </div>

    <!-- Shoe Icon -->

    <div class="loader-icon">

        <i class="bi bi-bag-fill"></i>

    </div>

    <!-- Loading Text -->

    <p class="loader-text">

        Preparing Your Next Pair...

    </p>

    <!-- Progress -->

    <div class="loader-progress">

        <div class="loader-progress-bar"></div>

    </div>

</div>